################
# Audio packages
playsound!=1.2.3 # 1.2.3 can give an error
SpeechRecognition>=3.8.0
pipwin>=0.5.1
# Install with "pipwin install pyaudio" unless you have python <3.7
pyaudio>=0.2.10

###################
# Speech to Text and 
# Text to Speech Engines and APIs
gTTS>=2.2.3

deepspeech
soundfile

ibm-watson

azure-cognitiveservices-speech